@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Dosis:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;

  color: $black;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;

  @include flexbox {
    flex-direction: column;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Dancing Script", cursive;
}

a {
  transition: 0.3s;
  color: $grey;
  &:hover {
    color: $gold;
  }
}
.and {
  font-family: "Ms Madi", bolt;
}

h2 {
  text-align: center;
}
